/* COLORS: 
main blue :    #4dabf7
lighter blue:  #74c0fc
text:          #343a40 */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #343a40;
}

header {
  position: relative;
  height: 180px;
  background-image: url(../img/pattern.png);
  background-color: #4dabf7;
  margin-bottom: 20px;
}

#header-logo {
  width: 300px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.container {
  margin-left: 10px;
}

.title h1 {
  font-size: 3rem;
}

.author-date {
  color: #adb5bd;
  margin-bottom: 20px;
}

.author {
  font-size: 24px;
  margin-bottom: 5px;
}

.author span {
  color: #74c0fc;
}

.pics {
  margin-bottom: 20px;
}

.pics img {
  height: 500px;
}

.main-content p {
  font-size: 22px;
}

.first-text {
  margin-bottom: 20px;
}

.highlighted {
  background-color: yellow;
}

ul {
  padding-left: 15px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.last-text {
  margin-bottom: 40px;
}

footer h3 {
  color: #adb5bd;
  margin-bottom: 10px;
}

footer img {
  display: block;
  width: 300px;
  margin-bottom: 10px;
}

footer figure {
  position: relative;
}

footer span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: white;
}
